<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Ac</servlet-name>
        <servlet-class>com.AccountantLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>com.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>com.AddAccountant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addaccountant</servlet-name>
        <servlet-class>com.AddAccountantForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>com.AddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student</servlet-name>
        <servlet-class>com.AddStudentForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewaccountant</servlet-name>
        <servlet-class>com.ViewAccountant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdmin</servlet-name>
        <servlet-class>com.LogoutAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteaccountant</servlet-name>
        <servlet-class>com.DeleteAccountant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteStudent</servlet-name>
        <servlet-class>com.DeleteStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DueFee</servlet-name>
        <servlet-class>com.DueFee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountant</servlet-name>
        <servlet-class>com.EditAccountant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editaccountantform</servlet-name>
        <servlet-class>com.EditAccountantForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudent</servlet-name>
        <servlet-class>com.EditStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editstudentform</servlet-name>
        <servlet-class>com.EditStudentForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>com.SearchStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewstudent</servlet-name>
        <servlet-class>com.ViewStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchstudentform</servlet-name>
        <servlet-class>com.SearchStudentForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ac</servlet-name>
        <url-pattern>/AccountantLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/AddAccountant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addaccountant</servlet-name>
        <url-pattern>/AddAccountantForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/AddStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student</servlet-name>
        <url-pattern>/AddStudentForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewaccountant</servlet-name>
        <url-pattern>/ViewAccountant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdmin</servlet-name>
        <url-pattern>/LogoutAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteaccountant</servlet-name>
        <url-pattern>/DeleteAccountant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStudent</servlet-name>
        <url-pattern>/DeleteStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DueFee</servlet-name>
        <url-pattern>/DueFee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountant</servlet-name>
        <url-pattern>/EditAccountant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editaccountantform</servlet-name>
        <url-pattern>/EditAccountantForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudent</servlet-name>
        <url-pattern>/EditStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editstudentform</servlet-name>
        <url-pattern>/EditStudentForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/SearchStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewstudent</servlet-name>
        <url-pattern>/ViewStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchstudentform</servlet-name>
        <url-pattern>/SearchStudentForm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
